/*
classes.css:
clases sueltas
*/

.center{
	/*display: block;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.displayInline{
	display: inline;
}

.greenBG{
	background-color: var(--box_color);
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin: 10px;
	padding-top: 10px;
	padding-bottom:10px;
}

.code_box{
	background-color: #000000;
	border: 2px solid #FFFFFF;
	margin: 10px;
	padding-top:2.5px;
	padding-bottom:2.5px;
	
	padding-left:10px;	
	padding-right:10px;	
}

ul.code_box{
	padding-left: 30px;
	padding-right:30px;
}

.code_box li{
	color: #FFFFFF;
	font-family: "DOS";
}

/*estilos de textos*/
.text_green{
	color:#FFFF00;
}

.text_yellow{
	color:#FFFF00;
}

.text_red{
	color:#FF0000;
}

.shaking{
	animation: horizontal-shaking 0.15 infinite;
}

.SmallP{
	color: #FFFFFF;
	font-family: "DOS";
	font-size:small;
	margin: 5px;
}