body{	
	
	background-image: var(--background_image);
	background-repeat: repeat;
	background-attachment: fixed;

	background-color: #101010;
	background-attachment: fixed;
	background-size: 200%;
	background-position-y: 0px;
	
	margin: 0px;

	font-family: var(--font-text);

	image-rendering: pixelated;
}

h1, h2, h3, h4, h5, h6{
	color: var(--title_color);
	font-family: var(--font-title), monospace;
	text-align:center;
}

p{
	color: #FFFFFF;
	font-family: var(--font-text);
}

a{
	color: var(--link_color);
	font-weight: bold;
	font-family: var(--font-text);
}

a:hover{
	color: var(--link_hover_color);
}

hr{
	border: 1px solid #FFFFFF;
}

li{
	font-family: var(--font-text);
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	list-style-type: square;
	color: var(--navbar_link);
}

/* Acordeon con details */
summary{
	color: #AAAAAA;
	margin-left: 30%;
	margin-right: 30%;
	font-weight: bold;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	list-style-type: none;
	text-align: center;
}

summary h2{	
	color: var(--section_button_color);
	font-family: var(--font-details), monospace;
	
}
summary h2:hover{
	color: var(--section_button_color_hover);
	text-decoration: underline;
}


details{
	margin: 15px 2%;
	padding: 5px 30px;
	background-color: var(--section_color);
	border: 3px solid var(--section_border);
}

article{
	margin: 15px 2%;
	padding: 5px 30px;
	background-color: var(--section_color);
	border: 3px solid var(--section_border);
}

/*Tamaños para moviles*/
@media screen and (max-width: 600px) {
	details{
		margin: 15px 5px;
	}
	article{
		margin: 15px 5px;
	}
}