/*
etiquetas.css:
estilos de elementos sueltos (a, li, p, etc)
*/

body{	
	
	background-image: var(--background_image);
	background-repeat: repeat;
	background-attachment: fixed;

	background-color: #101010;
	background-attachment: fixed;
	background-size: 200%;
	background-position-y: 0px;
	
	margin: 0px;

	font-family: var(--font-text);

	image-rendering: pixelated;
}

h1, h2, h3, h4, h5, h6{
	color: var(--title_color);
	font-family: var(--font-title), monospace;
	text-align:center;
}

p{
	color: #FFFFFF;
	font-family: var(--font-text);
}

a{
	color: var(--link_color);
	font-weight: bold;
	font-family: var(--font-text);
}

a:hover{
	color: var(--link_hover_color);
}

hr{
	border: 1px solid #FFFFFF;
}

li{
	font-family: var(--font-text);
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	list-style-type: square;
	color: var(--navbar_link);
}