body{
	background-image: linear-gradient(#111111,#440000);
	margin: 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6{
	color: #FFFF00;
	font-family: "OCR A Std", "Lucida Console","Courier",monospace;
}

p{
	color: #FFFFFF;
	font-family: "Courier";
}

a{
	color: #6045ff;
	font-weight: bold;
}

hr{
	border: 1px dashed white;
}

.imagen{
	width: 90%;
}

.urrova{
	
}


/* Acordeon con details */
summary{
	color: #00FF00;
	background-image: linear-gradient(to right, rgba(0,255,0,0), #00FF00, rgba(0,255,0,0));
	font-weight: bold;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
}
summary h2{
	color: #000000;
	font-family: "OCR A Std", "Lucida Console","Courier",monospace;
	
}
summary h2:hover{
	color: #FFFFFF;
	font-family: "OCR A Std", "Lucida Console","Courier",monospace;
}

.SVGicon{
	color: white;
}

.SVGicon:hover{
	color: #00FF00;
}

.PXicon:hover{
	filter: invert();
}

.downloadButton{
	background-color: #0066FF;
	border: ridge;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 25px;
	font-family: "OCR A Std", "Lucida Console","Courier",monospace;
	font-weight: bold;
}

.downloadButton:hover{
	background-color: #000099;
	border: ridge;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 25px;
	font-family: "OCR A Std", "Lucida Console","Courier",monospace;
	font-weight: bold;
}

.displayInline{
	display: inline;
}

.medialist span{
	color: #FFFFFF;
}

.greenBG{
	background-image: linear-gradient(to right, rgba(0,0,0,0), #0066FF, rgba(0,0,0,0));
	color: #FFFFFF;
}

/*idioma*/
.idioma{
	Margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.idioma a{
	color: #FFFFFF;
}

/*Barra de navegacion*/
.Navbar{
	background-color: #111111;
	border-bottom: 5px solid #00FF00;
}

.Navbar h1{
	color: #FFFFFF;
	font-family: "OCR A Std", "Lucida Console","Courier",monospace;
	font-weight: bolder;
	font-size: 40;
	
	/*Para el texto con imagen*/
	background-image: linear-gradient(#440000,#FF0000,#FF9900,#FFFF00);
    color:transparent;
    -webkit-background-clip:text;
}

.Navbar ul li{
	display: inline;
	background-color: #FFFFFF;
	margin: 10px;
	padding: 10px;
	border-radius: 50px;
	border-style: outset;
}

.Navbar ul li:hover{
	display: inline;
	background-color: #FFFFFF;
	margin: 10px;
	padding: 10px;
	border-radius: 50px;
	border-style: outset;
}

.Navbar ul li a{
	color: #000000;
	font-family: "Lucida Console";
	text-decoration: none;
}

.Navbar ul li a:hover{
	color: #000000;
	font-family: "Lucida Console";
	text-decoration: underline;
}

.Navbar hr{
	border: 1px solid #222222;
}

#Navbar_Marquee{
	font-family: "OCR A", "Lucida Console", "Courier", monospace;
	color: #00FF00;
}