<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/main.css">
		<script src="https://kit.fontawesome.com/f9565b969b.js"></script>
		<title>{{ title }}</title>
	</head>
	<body {% if background %} style="background-image: url('{{ background }}');"{% endif %}>
		
		{% include "partials/navbar_en.html" %}

		<main tabindex="-1" id="main-content">
			<h1>
				{% if header_image %}  
				<img src="{{ header_image }}" class="imagen_small">  
				{% else %} 
				{{ header }} 
				{% endif %} 
			</h1>

			{% if back_title %}

			<p class="go_back_link">
				 <<< <a href="{{back_url}}">Back to: {{back_title}}</a>
			</p> 

			{% endif %}

			<article>
				{{ content | safe }}
			</article>
		</main>

		{% include "partials/footer.html" %}

		<!--js here-->
		<script src="/js/main.js"></script>
	</body>
</html>