/*
images.css:
estilos relacionados con las imagenes
*/

.imagen img, .imagen_small img {
	max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.imagen{
	height: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.imagen_small{
	height: 10rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.imagen{
		width: 95%;
		height: auto;
		object-fit: contain;
	}

	.imagen_small{
		width: 90%;
		height: auto;
		object-fit: contain;
	}
}

.borde {
	border: 2px solid #FFFFFF;
}

.titleImg{
	vertical-align: middle;
}

.SVGicon{
	color: var(--icon_color);
}

.SVGicon:hover{
	color: var(--icon_color_hover)
}