/*
images.css:
estilos relacionados con las imagenes
*/

img {
	height: 100%;
}

.imagen{
	height: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.imagen_small{
	height: 10rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

@media screen and (max-width: 600px) {
	.imagen{
		/*width: 95%;*/
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	.imagen_small{
		width: 95%;
		height: auto;
		object-fit: contain;
	}
}

.borde {
	border: 2px solid #FFFFFF;
}

.titleImg{
	vertical-align: middle;
}

.SVGicon{
	color: var(--icon_color);
}

.SVGicon:hover{
	color: var(--icon_color_hover)
}