/*
navbar.css:
estilos relacionados con la barra superior de navegacion y el footer
*/

nav{
	background-color: #111111;
	border-bottom: 2px solid var(--border_color);
	margin: 0px;
	padding: 0px;
	text-align: center;
}

nav h1{
	color: var(--navbar_title_color);
	font-family: var(--font-title), monospace;
	font-weight: bolder;
	font-size: 25px;
	text-shadow: -1px 1px 0 var(--navbar_title_stroke),
                          1px 1px 0 var(--navbar_title_stroke),
                         1px -1px 0 var(--navbar_title_stroke),
                        -1px -1px 0 var(--navbar_title_stroke);
	display:inline-block;
	margin:10px 0px 0px 0px;
}

nav ul {
	margin: 5px;
}

nav ul li{
	display: inline;
	/*background-color: #111111;*/
	margin: 0px;
	padding: 15px;
}

nav ul li:hover{
	display: inline;
	/*background-color: #111111;*/
	margin: 0px;
	padding: 15px;
}

nav ul li a{
	color: var(--navbar_link);
	font-family: "DOS";
	text-decoration: none;
}

nav ul li a:hover{
	color: var(--navbar_link_hover);
	font-family: "DOS";
	text-decoration: underline;
}

nav hr{
	border: 1px solid #222222;
	margin: 0px;
}

.Navbar_Buttons_Mobile{
	display: none;
}

.Navbar_Buttons_Mobile summary{
	background-color:#111111;
	background-image: none;
}

.Navbar_Buttons_Mobile p a{
	color: #FFFFFF;
	font-family: "DOS";
	text-decoration: none;
}

#Navbar_marquee{
	font-family: var(--font-marquee), monospace;
	color: /*#00FF00*/ #FFFFFF;
	font-size: 12px;
}

#navbar_title_desktop{
	/*
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	*/
	display:block;
}

#navbar_title_mobile{
	display: none;
}

#navbar_title_main{
	align-self: center;
	padding-left: 20px;
	padding-right: 20px;
}

#navbar_linuxpath{
	align-self: left;
	padding-left: 20px;
	padding-right: 20px;
}

/*Elige cual menu se muestra depende la plataforma*/
@media screen and (max-width: 600px) {
    .Navbar_Buttons_Desktop:not(:first-child) {display: none;}
    .Navbar_Buttons_Mobile{display: block;}
	#navbar_title_desktop{display: none;}
	#navbar_title_mobile{display:block;}
  }
  

/* ===== Footer ===== */
footer{
	background-color: #050505;
	border: 2px solid var(--section_border);
	margin:1%;
	margin-top: 20px;
	padding-bottom: 0px;
	text-align: center;
}

footer hr{
	border: 1px solid #111111;
}