/*estilos de textos*/
.text_red    { color:var(--text_red_color);    }
.text_yellow { color:var(--text_yellow_color); }
.text_green  { color:var(--text_green_color);  }
.text_cyan   { color:var(--text_cyan_color);   }
.text_blue   { color:var(--text_blue_color);   }
.text_purple { color:var(--text_purple_color); }

.text_console_highlighted {color:#000000; background-color: #FFFFFF;}

.text_waving {
	animation-name: waving;
	animation-duration: 1s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	position: relative;
	top: 0;
	left: 0;
}

@keyframes waving {
	0% { top: 3px; }
	25% { top: 0px; }
	50% { top: -3px; }
	75% { top: 0px; }
	100% { top: 3px; }
}

.text_colorwarp {
	animation-name: colorwarp;
	animation-duration: 3s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
}

@keyframes colorwarp {
	0% { color: #f00; }
	25% { color: #ff0; }
	50% { color: #0f0; }
	75% { color: #00f; }
	100% { color: #f00 ;}
}

/*waving y colorwarp combinados, parece que no se puede mezclar animaciones en css*/
.text_stoned {
	animation-name: stoned;
	animation-duration: 3s;
	animation-timing-function:linear;
	animation-iteration-count: infinite;
	position: relative;
	top: 0;
	left: 0;
}

@keyframes stoned {
	0% { color: #f00; top: 3px; }
	8.3% { color: rgb(255, 94, 0); top: 0px; }
	16.6% { color: rgb(255, 183, 0); top: -3px; }
	25% { color: #ff0; top: 0px; }
	33.2% { color: rgb(238, 255, 0); top: 3px; }
	41.5% { color: rgb(68, 255, 0); top: 0px; }
	50% { color: rgb(0, 255, 98); top: -3px; }
	58.3% { color: rgb(0, 162, 255); top: 0px; }
	66.4% { color: rgb(4, 0, 255); top: 3px; }
	75% { color: rgb(102, 0, 255); top: 0px; }
	83% { color: rgb(238, 0, 255); top: -3px; }
	91% { color: rgb(255, 0, 174); top: 0px; }
	100% { color: #f00; top: 3px; }
}

.SmallP{
	color: #FFFFFF;
	font-family: "DOS";
	font-size:small;
	margin: 5px;
}

